body{
    margin: 0;
}
#ankolelogo{

    width: 5cm;
}

h1{
    color: orangered;
}

.live-events{
    background-image: url(images/frontview.jpg);
    display: flex;
    justify-content: center;
    height: 100vh;
    background-size: cover;
}

p{
    color: aliceblue;
}

h3{
    color: aliceblue;
}

h2{
    color: aliceblue;
}