
    
   



 .banner-image{
    position: relative;
}

.image img{

width: 200px;   
margin-left: 80px;
margin-top: 100px;

}

.image h1{

color: grey;
margin-bottom: 80px;
margin-left: 80px;
font-size: 100px;


}
body{
    overflow-x: hidden;
}
.image{

    width:99.99vw;
    height:99.99vh;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    animation:anime 20s infinite forwards;
    opacity: 0;
    
}


.image:nth-child(1){
    background-image: url(frontview.jpg);
   animation-delay:0s;
}
.image:nth-child(2){
    background-image: url(cookingingredients.jpg);
    animation-delay: 4s;
}
.image:nth-child(3){
background-image: url(juicefruits.jpg);
animation-delay: 8s;

}
.image:nth-child(4){
background-image: url(mealsample.jpg);
animation-delay: 12s;
}
.image:nth-child(5){
background-image: url(nightview.jpg);
animation-delay: 16s;
}
@keyframes anime{
    0%{opacity:0;}
    10%{opacity:1;}
    30%{opacity:1;}
    40%{opacity:100;}
    100%{opacity:100;}
}


nav ul{

display: flex;
position: fixed;
gap: 1cm;
border: 1px solid black;
list-style: none;
background-color: black;
color: whitesmoke;
width: 58%;
border-radius: 40px;
padding: 2%;
justify-content: center;


}


nav a{
    color: white;
    text-decoration-line: none;
}

.navigationbar{
    margin-top: -5cm;
    margin-left: 30%;
    padding: 2px;
    margin-bottom: 30%;
    padding: 10%;
}



/* menu style */



.kitisuru-branch{

background-image:url(frontview.jpg);
background-repeat: no-repeat;
text-align: center;
word-spacing: 2px;

}

.kilimani-branch{

    background-image:url(nightview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    text-align: center;
    width: 1000px;

}


.branches{
    display: flex;
    justify-content: center;
    
}


h1{
    color: white;
    margin-top:5cm;
}

h2{
    color: orangered;
    position: relative;
    top:170px;
    
}
.logo{
position: absolute;
overflow: visible;
/* margin-top: 6cm; */
margin-left: 19cm;
padding: 20px;
padding-top: 21px;
}
#img-links{
    text-decoration: none;
    position: relative;
    color: white;
    bottom: 250px;
}

.kitisuru-branch{
    background-image: url(shawl.jpg);
    /* background-position: center; */
    background-size: cover;
    width: 1000px;
    height: 1000px;

}

.branches{
    display: flex;
}


/* style menu */



/* 

@media (max-width:600px) {
    .body{
        width: 100%;
        margin: 0%;
    }
    kitisuru-branch{

        background-image:url(frontview.jpg);
        background-repeat: no-repeat;
        }
        
        .kilimani-branch{
        
            background-image:url(nightview.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            height: 900px;
        }
        
        
        .branches{
            display: flow-root;
        }
        
        
        h1{
            color: white;
            margin-top:2cm;
        }
        
        h2{
            color: rgb(113, 245, 25);
            margin-top:3cm;
            margin-left: 2cm;
            
        }
        .logo{
        position: absolute;
        overflow: visible;
        margin-top: 6cm;
        margin-left: 8cm;
        }
        .top-section{
            height: 100vh;
            width: 100%;
            background-image: url(frontview.jpg);
            text-align: justify;
            overflow: hidden;
            position: relative;
            background-position: center;
            color: white;
            animation: change 10s infinite ease-in-out;
            
            }
            
          
}











 */
