
    body{
        margin: 0;
    }
   



 .banner-image{
    position: relative;
}

.image img{

width: 200px;   
margin-left: 80px;
margin-top: 100px;

}

.image h1{

color: grey;
margin-bottom: 80px;
margin-left: 80px;
font-size: 100px;


}
body{
    overflow-x: hidden;
}
.image{

    width:99.99vw;
    height:99.99vh;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    animation:anime 20s infinite forwards;
    opacity: 0;
    
}


.image:nth-child(1){
    background-image: url(images/frontview.jpg);
   animation-delay:0s;
}
.image:nth-child(2){
    background-image: url(images/cookingingredients.jpg);
    animation-delay: 4s;
}
.image:nth-child(3){
background-image: url(images/juicefruits.jpg);
animation-delay: 8s;

}
.image:nth-child(4){
background-image: url(images/mealsample.jpg);
animation-delay: 12s;
}
.image:nth-child(5){
background-image: url(images/nightview.jpg);
animation-delay: 16s;
}
@keyframes anime{
    0%{opacity:0;}
    10%{opacity:1;}
    30%{opacity:1;}
    40%{opacity:100;}
    100%{opacity:100;}
}

nav ul{
    display: flex;
    position: fixed;
    gap: 1cm;
    border: 1px solid black;
    list-style: none;
    background-color: black;
    color: aliceblue;
    width: 48%;
    border-radius: 40px;
    padding: 2%;
    justify-content: center;
    margin-top: 22cm;
    margin-left: 10cm;
    /* text-decoration: none; */
}

nav a{
list-style: none;
text-decoration: none;
color: aliceblue;
margin-top: 5cm;
}
navigationbar{
    margin-top: -5cm;
    margin-left: 30%;
    padding: 2px;
    margin-bottom:30% ;
    padding: 10%;
    /* text-decoration: none; */
}



